/* Theme: Portrait */

/* --- Container --- */
ul[class^="Voice_voiceStates"] {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
}

/* --- User Base --- */
li[class^="Voice_voiceState"] {
  position: relative;
  width: {{avatarSize}}px;
  height: calc({{avatarSize}}px * 1.33);
  overflow: hidden;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
  display: flex !important;
  flex-direction: column !important;
  align-items: stretch !important;
}

/* Avatar Base Style */
img[class*="Voice_avatar"] {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
  transition: transform 0.3s ease;
  filter: brightness(60%);
  border: 0;
}

/* Name Style */
span[class^="Voice_name"] {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8) !important;
  padding: 4px !important;
  word-break: keep-all;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 100));
  
  /* Clipping Protection */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}


/* --- User Highlight --- */
li[class^="Voice_voiceState"]:has(img[src*="USER_ID"]) {
  border: 2px solid var(--user-color);
}

/* --- User Speaking --- */
img[src*="USER_ID"][class*="Voice_avatarSpeaking"] {
  transform: scale(1.05);
  filter: brightness(100%);
  animation: bounce-anim 0.6s infinite !important;
}

li[class^="Voice_voiceState"]:has(img[src*="USER_ID"][class*="Voice_avatarSpeaking"]) {
  box-shadow: 0 0 15px var(--user-color);
}
